<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ca.prakash.RetreatServicedApartment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.ca.prakash.RetreatServicedApartment.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="Retreat Serviced Apartment"
        android:largeHeap="true"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ca.prakash.RetreatServicedApartment.activity.MainActivity"
            android:label="Retreat Serviced Apartments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.ca.prakash.RetreatServicedApartment.activity.Splash"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ca.prakash.RetreatServicedApartment.activity.Travells"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ca.prakash.RetreatServicedApartment.activity.MainActivity" />
        </activity>
        <activity android:name="com.ca.prakash.RetreatServicedApartment.activity.Place_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ca.prakash.RetreatServicedApartment.activity.Travells" />
        </activity>

        <!-- Firebase Notifications -->


        <!-- ./Firebase Notifications -->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity android:name="com.ca.prakash.RetreatServicedApartment.fragment.CompletPaymet" />
        <activity android:name="com.ca.prakash.RetreatServicedApartment.activity.QRscanner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ca.prakash.RetreatServicedApartment.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.ca.prakash.RetreatServicedApartment.activity.Videos"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.ca.prakash.RetreatServicedApartment.Firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ca.prakash.RetreatServicedApartment.Firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.ca.prakash.RetreatServicedApartment.activity.Location_activity"
            android:label="@string/title_activity_location_activity"></activity>

        <activity android:name="com.ca.prakash.RetreatServicedApartment.activity.NewsNotification">

            <intent-filter>
                <action android:name="Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ca.prakash.RetreatServicedApartment.activity.MainActivity" />
        </activity>
    </application>

</manifest>